@font-face {
  font-family: "Museo";
  src: url("./assets/marriott/MuseoSans-100.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Museo";
  src: url("./assets/marriott/MuseoSans-300.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}