/* Courtyard */
@font-face {
  font-family: "Museo";
  src: url("./assets/courtyard/MuseoSans-100.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Museo";
  src: url("./assets/courtyard/MuseoSans-300.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

/* Fairfield */
@font-face {
  font-family: "ProximaNova";
  src: url("./assets/fairfield/ProximaNova-100.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./assets/fairfield/ProximaNova-300.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

/* Four Points */
@font-face {
  font-family: "TradeGothic";
  src: url("./assets/fourpoints/TradeGothic-100.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "TradeGothic";
  src: url("./assets/fourpoints/TradeGothic-300.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Clarendon";
  src: url("./assets/fourpoints/Clarendon-100.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Clarendon";
  src: url("./assets/fourpoints/Clarendon-300.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

/* SpringHill */
@font-face {
  font-family: "ClanOT";
  src: url("./assets/springhill/ClanOT-100.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ClanOT";
  src: url("./assets/springhill/ClanOT-300.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}